extends layout

block content
  h1= title
  p Welcome! Please sign in with twitter.
  p the app only has ability to read your publicly available information

  a(href='/signin')
    img(src='/images/sign-in-with-twitter-gray.png')