extends layout

block content
  h1= title
  h3 Unfollow recommendations for your twitter feed.

  p Ok, recommendations is a bit of a stretch. At this stage, Lessnoise will show you a list of who tweets the most per day on average, so you can choose who you want to unfollow:

  div.homepage-image
    img(src='/images/table-preview.png' id='image-preview')
    div.caption Table preview with hilarious dummy data

  p
  p To get started, sign in with twitter.

  a(href='/signin')
    img(src='/images/sign-in-with-twitter-gray.png')

  p.read-access (As you'll see on the next page, the app has only <i>read access</i> to your public Twitter data - it can't tweet on your behalf.)

  p Happy Spring cleaning! 🧹
