extends layout

block content
  h1= title
  h3 Unfollow recommendations for your twitter feed.

  p Ok, recommendations is a bit of a stretch. At this stage, LessNoise will show you a list of who tweets the most per day on average, so you can choose who you want to unfollow:

  div.homepage-image
    img(src='/images/table-preview.png' id='image-preview')
    div.caption Table preview with hilarious dummy data

  p
  p To get started, sign in with Twitter (the app only has read access to your public data).

  a(href='/signin')
    img(src='/images/sign-in-with-twitter-gray.png')

  p Happy Spring cleaning! 🧹
