extends layout

block content
  h1= title
  h3 Unfollow recommendations for your twitter feed.

  p Ok, recommendations is a bit grandiose. Right now, all you'll get is a list of who tweets the most per day on average:

  img(src='/images/table-preview.png' id='image-preview')

  p Your feed is full of noise. Find the biggest offenders and give 'em the ✂.

  p To get started, sign in with twitter.
  p (As you'll see on the next page, the app has only <i>read access</i> to your public Twitter data - it can't tweet on your behalf.)

  a(href='/signin')
    img(src='/images/sign-in-with-twitter-gray.png')

