extends layout

block content
  h1= title
  h3 Unfollow recommendations for your twitter feed.

  p Please sign in with twitter.
  p (The app uses read-only access to your public information only)

  a(href='/signin')
    img(src='/images/sign-in-with-twitter-gray.png')
