extends layout

block content

  script.
    ga('send', {
    hitType: 'event',
    eventCategory: 'Page view',
    eventAction: 'Viewed Home Page',
    });

  h1= title
  h3 Unfollow recommendations for your twitter feed.

  p Ok, recommendations is a bit of a stretch. At this stage, LessNoise will show you a list of who tweets the most per day on average, so you can choose who you want to unfollow:

  div.homepage-image
    img(src='/images/table-preview.png' id='image-preview')
    div.caption Table preview with hilarious dummy data

  p
  p To get started, sign in with Twitter (the app only has read access to your public data).

  //p.bug Launch day bug 🥴: you need to hit "Sign in with Twitter" TWICE. When Twitter brings you back here the first time, just hit the button again and you'll get your recommendations. Fix in progress. Sorry!

  p.signin 

    a(href='/signin')
      img(src='/images/sign-in-with-twitter-gray.png' id='signin')

  p Happy Spring cleaning! 🧹
