doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/js/analytics.js')
    title= title

  body
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")
    script(src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js")

    block content

  footer
    p © 2019
      |
      |
      a(href="https://ernie.news") Ernest Oppetit
      |
      | —
      |
      a(href="https://forms.gle/1zJRLwzUqoi7MTRt6") submit feedback
      |
      | — v0.1.0
      |