doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    meta(name='og:title', content='🙏 LessNoise')
    meta(name='og:description', content='Unfollow recommendations for your Twitter feed.')
    meta(name='og:image', content='https://i.imgur.com/ZgKGtwv.jpg')
    meta(name='og:url', content='https://www.lessnoise.net')

    meta(name='twitter:title', content='🙏 LessNoise')
    meta(name='twitter:description', content='Unfollow recommendations for your Twitter feed.')
    meta(name='twitter:image', content='https://i.imgur.com/ZgKGtwv.jpg')
    meta(name='twitter:url', content='https://www.lessnoise.net')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:creator', content='@ernopp')

    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-131357140-2")
    script(src='/js/analytics.js')

    title LessNoise
  body
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")
    script(src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js")
    block content

  footer
    p © 2020
      |
      |
      a(target = "_blank", href="https://ernie.news") Ernest Oppetit
      | —
      |
      a(target = "_blank", href="https://twitter.com/intent/tweet?text=Check%20out%20LessNoise%3A%20unfollow%20recommendations%20for%20your%20twitter%20feed.%20Reduce%20the%20noise%20%F0%9F%99%8F.%0Ahttps%3A//www.lessnoise.net%20%40L3ssNoise") share
      | —
      |
      a(target = "_blank", href="https://github.com/ernopp/lessnoise") source
      | —
      |
      a(target = "_blank", href="https://forms.gle/1zJRLwzUqoi7MTRt6") feedback