extends layout

block content
  h1= title
  p Here are your unfollow recommendations:

  table.table
    tr
      each val in prettyFriendsList["interesting_keys"]
        th=val
    each val in prettyFriendsList["friends"]
      tr
        each v in val
            td=v