/*tr.selected{*/
    /*background-color:#ff9999*/
/*}*/

/*p.unfollow{*/
    /*font-weight: bold;*/
    /*color:#ff9999*/
/*}*/

body {
    margin: 20px;
}

@media (max-width: 350px) {
    body{
        margin: 10px;
    }
    table {
        width: 100%;
    }
}

@media (max-width: 150px) {
    body{
        margin: 5px;
    }
}

div#reccs-content{
    width: 80%;
}

@media (min-width: 1300px) {
    div#reccs-content{
        width: 60%;
    }
}

.table{
    font-size: 0.8rem;
}

table td{
    word-break: break-all;
}

footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}
