html { height: 100%; }

body {
    margin: 20px;
    min-height:97%;
    max-width: 620px;
    position:relative;
    padding-bottom: 50px;
}

@media (max-width: 350px) {
    body{
        margin: 10px;
    }
    table {
        width: 100%;
    }
}

@media (max-width: 590px) {
    img#image-preview{
        width: 95%;
    }
}

@media (max-width: 150px) {
    body{
        margin: 5px;
    }
}

div#reccs-content {
    margin-bottom: 20px;
}

.table{
    font-size: 0.8rem;
    max-width: 600px;
}

table td{
    word-break: break-all;
}

footer {
    position: absolute;
    left: 0 ; right: 0; bottom: 0;
    height:20px;
    font-size: 0.7rem;
    font-style: italic;
}

footer p{
    margin-bottom: 0px;
}

p.read-access{
    font-size: 0.7rem;
}

p.signin{
    text-align: center;
}

img{
    margin-bottom: 1rem;
}

img#signin{
    width:180px;
}

div.homepage-image{
    max-width: 600px;
}

div.caption{
    font-style: italic;
    font-size: 0.75rem;
    text-align: center;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    margin-bottom: 1rem;
}